---
import type { MarkdownLayoutProps } from 'astro';
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';

type Props = MarkdownLayoutProps<{
    title: string;
}>;

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <Logo />
    <header class="link-list">
        <a href="/"> Home</a>
        <a href="https://docs.joinkitsune.org">Documentation</a>
        <a target="_blank" href="https://matrix.to/#/#kitsune-space:matrix.org">
            Matrix space
        </a>
        <a target="_blank" href="https://github.com/kitsune-soc/kitsune">
            Source Code
        </a>
    </header>

    <main>
        <slot />
    </main>
</Layout>

<style lang="scss" is:global>
    @use '../styles/colours' as *;

    code {
        padding: 0.2em 0.5em;
    }

    fieldset {
        margin-bottom: 20px;

        & legend {
            color: $shade2light;
            padding: 0 10px;
            font-size: x-large;
            text-shadow: 0 0 5px $shade2light;
        }
    }
</style>

<style lang="scss">
    .link-list {
        display: flex;
        gap: 1em;
    }

    main {
        line-height: 1.4em;
        margin-top: 1rem;
    }
</style>
